---
import SectionContainer from "../SectionContainer.astro";

// Traer los proyecto con Content Collections
import { getCollection, type CollectionEntry } from "astro:content";

type Project = CollectionEntry<"projects">;

const projects: Project[] = (await getCollection("projects")).sort(
  (a: Project, b: Project) => a.data.id - b.data.id
);
---

<SectionContainer id="proyectos">
  <h2 class="text-4xl sm:text-6xl font-bold mb-3">Proyecto 🗂️</h2>

  {
    projects.map((project: Project) => (
      <article class="grid grid-flow-row lg:grid-cols-2 gap-6 p-6 my-4 bg-white/10 backdrop-blur-lg border border-white/10 rounded-2xl shadow-lg">
        {/* Sección de Carrusel - Todo con CSS */}
        <section class="project-carousel">
          <ul class="carousel-list">
            {project.data.images.map(
              (img: { src: string; alt?: string }, i: number) => (
                <li class="carousel-item" id={`${project.slug}-slide${i + 1}`}>
                  <img
                    src={img.src}
                    alt={img.alt ?? project.data.title}
                    class="carousel-image"
                  />
                </li>
              )
            )}
          </ul>

          <div class="carousel-navigation">
            {project.data.images.map((_: unknown, i: number) => (
              <a href={`#${project.slug}-slide${i + 1}`} class="carousel-dot" />
            ))}
          </div>
        </section>

        {/* Sección: Información del proyecto */}
        <div>
          <h1 class="text-3xl font-bold ">{project.data.title}</h1>

          <p class="text-xl mb-1 opacity-75">{project.data.description}</p>

          <ul class="grid grid-cols-2 gap-2 my-4 opacity-75">
            {project.data.functionality.map((item: string) => (
              <li>{item}</li>
            ))}
          </ul>

          <a
            href={project.data.github}
            target="_blank"
            rel="noopener noreferrer"
            class="text-[#ac70c4]"
          >
            Más sobre el proyecto
          </a>
        </div>
      </article>
    ))
  }
</SectionContainer>
